<form action="/todos/{{ todo._id }}/edit" method="POST">
  {{!-- 新增完成按鈕，設定為打勾框(checkbox)，name需對上todo內的資料目錄isDone，用hbs的if功能 --}}
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}>
  <input type="text" placeholder="name" name="name" value="{{ todo.name }}">
  <button type="submit">save</button>
  <a href="/">Back</a>
</form>