
<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group">
    <input class="form-control" type="name" placeholder="name" name="name">
    <button class="btn btn-success" type="submit" href="/">Create</button>
    <a class="btn btn-secondary" href="/">Back</a>
  </div>
</form>